.pulse i {
    color: #4fd69c;
    border-radius: 10px;
    text-align: center;
    display: block;
    padding: 5px 0px;
    animation: pulse 2s infinite;
    box-shadow: 0 0 0 #4fd69c;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(#4fd69c, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(244, 157, 22, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(#4fd69c, 0.4);
        box-shadow: 0 0 0 0 rgba(#4fd69c, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(244, 157, 22, 0);
        box-shadow: 0 0 0 10px rgba(244, 157, 22, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0);
        box-shadow: 0 0 0 0 rgba(244, 157, 22, 0);
    }
}

.footer-main {

    color: #fff;
}
