# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Gui\Tecnologia_da_Informacao\Projetos e Trabalhos\Diversos\Eruin\HTF2PHPLA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
